* {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: "Cabin", sans-serif;
}
.primer-contacto {
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 1.5em;
}
.primer-contacto img {
  width: 6em;
  border-radius: 50%;
}
