* {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: "Cabin", sans-serif;
}

.container {
  display: flex;
}
.primer-contacto {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1.5em;
  border: solid 1px rgb(163, 158, 158);
  flex-shrink: 1;
  justify-content: space-between;
}
.primer-contacto img {
  width: 6em;
  height: 5.5em;
  border-radius: 50%;
}
.nombre-contacto {
  display: flex;
  align-items: center;
}
.nombre-contacto h1,
p {
  font-size: 1.8em;
}
.nombre-contacto p {
  color: rgb(163, 158, 158);
}
.sidebar {
  max-width: 430px;
  border: solid 1px rgb(163, 158, 158);
  min-height: 100vh;
}
.perfil-menu {
  display: flex;
  align-items: start;
  gap: 2em;
}
.actividad {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1em;
  gap: 0.1em;
}
.nuevo-chat button {
  background-color: rgb(172, 114, 226);
  color: white;
  padding: 0.5em 1.7em 0.5em 1.7em;
  font-size: 3em;
}
.button {
  display: flex;
  justify-content: center;
  padding: 4em;
  border: solid 1px rgb(163, 158, 158);
}
.button a:hover {
  opacity: 50%;
}
.chats img {
  width: 6em;
  height: 6em;
  border-radius: 50%;
}
.chat1 {
  display: flex;
  align-items: center;
  padding: 2.5em;
  gap: 2em;
  border: solid 1px rgb(163, 158, 158);
}
.chat1 h1 {
  font-size: 1.8em;
}
.chat2 {
  display: flex;
  align-items: center;
  padding: 2.5em;
  gap: 2em;
  border: solid 1px rgb(163, 158, 158);
}
.chat2 h1 {
  font-size: 1.8em;
}
.chat3 {
  display: flex;
  align-items: center;
  padding: 2.5em;
  gap: 2em;
  border: solid 1px rgb(163, 158, 158);
}
.chat3 h1 {
  font-size: 1.8em;
}
.chat4 {
  display: flex;
  align-items: center;
  padding: 2.5em;
  gap: 2em;
  border: solid 1px rgb(163, 158, 158);
}
.chat4 h1 {
  font-size: 1.8em;
}
.chat5 {
  display: flex;
  align-items: center;
  padding: 2.5em;
  gap: 2em;
  border: solid 1px rgb(163, 158, 158);
}
.chat5 h1 {
  font-size: 1.8em;
}
.chat6 {
  display: flex;
  align-items: center;
  padding: 2.5em;
  gap: 2em;
  border: solid 1px rgb(163, 158, 158);
}
.chat6 h1 {
  font-size: 1.8em;
}
.chat7 {
  display: flex;
  align-items: center;
  padding: 2.5em;
  gap: 2em;
  border: solid 1px rgb(163, 158, 158);
}
.chat7 h1 {
  font-size: 1.8em;
}
.chat8 {
  display: flex;
  align-items: center;
  padding: 2.5em;
  gap: 2em;
  border: solid 1px rgb(163, 158, 158);
}
.chat8 h1 {
  font-size: 1.8em;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.menu h1 {
  font-size: 6em;
}
