* {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: "Cabin", sans-serif;
}

.container {
  display: flex;
  background-color: rgb(240, 240, 240);
}
.primer-contacto {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1.5em 3.8em 1.5em 2em;
  border: solid 1px #e8ebe4;
  border-bottom-color: #bec1bb;
  justify-content: space-between;
}
.nombre-contacto > img {
  width: 6em;
  height: 5.5em;
  border-radius: 50%;
}
.nombre-contacto {
  display: flex;
  align-items: center;
}
.actividad h1,
p {
  font-size: 1.8rem;
}
.actividad > p {
  color: rgb(163, 158, 158);
}
.status {
  display: flex;
  align-items: baseline;
  gap: 0.8em;
}
.sidebar {
  flex-basis: 400px;
  border: solid 1px #e8ebe4;
  min-height: 100vh;
  background-color: white;
}
.perfil-menu {
  display: flex;
  align-items: start;
  gap: 2em;
}
.perfil-menu > a:visited {
  color: #828485;
}
.perfil-menu > a:active {
  opacity: 30%;
}
.actividad {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1em;
  gap: 0.1em;
}
.nuevo-chat button {
  background-color: rgb(176 160 216);
  color: white;
  padding: 0.5em 1.7em 0.5em 1.7em;
  font-size: 3rem;
}
.nuevo-chat > a:hover {
  opacity: 50%;
}
.button {
  display: flex;
  justify-content: center;
  padding: 4em;
  border: solid 1px #e8ebe4;
  border-bottom-color: #bec1bb;
}
.chats img {
  width: 6em;
  height: 6em;
  border-radius: 50%;
}
.chats h1 {
  font-size: 1.8rem;
}
.chat1,
.chat2,
.chat3,
.chat4,
.chat5,
.chat6,
.chat7,
.chat8 {
  display: flex;
  align-items: center;
  padding: 2em;
  gap: 2em;
  border: solid 1px #e8ebe4;
  border-bottom-color: #bec1bb;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 2em;
}
.menu h1 {
  font-size: 6em;
}
.menu p,
strong {
  font-size: 1.8rem;
}
.menu img {
  width: 350px;
}
